* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: lightgray;
}

.container {
    flex-direction: column;
    padding-top: 10px;
    min-height: 100vh;
}

#top {
    margin-bottom: 10px;
}

#main-content {
    flex: 1;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 1rem;
}

#bottom {
    margin-top: 10px;
}

.margin-top-bottom-5px {
    margin-top: 5px;
    margin-bottom: 5px;
}